<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Image to ascii converter</title>
  <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">
  <script src="static/jquery-3.1.1.min.js" type="text/javascript"></script>
  </head>
  <body>
  <script type="text/javascript">
   function autorun() {
    
   }
   if (window.addEventListener) window.addEventListener("load", autorun, false);
   else if (window.attachEvent) window.attachEvent("onload", autorun);
   else window.onload = autorun;
  </script>

  </body>
</html>
